$grey-dk-000: #959396;
$grey-dk-100: #5c5962;
$grey-dk-200: #44434d;
$grey-dk-250: #302d36;
$grey-dk-300: #27262b;

$grey-lt-000: #f5f6fa;
$grey-lt-100: #cfcfcf;
$grey-lt-200: #aaaaaa;
$grey-lt-300: #888888;

$body-background-color: #afd5e7;
$sidebar-color: #cf80cf;
$border-color: #888888;

$body-text-color: $grey-dk-100;
$body-heading-color: $grey-dk-300;
$nav-child-link-color: $grey-dk-100;
$search-result-preview-color: $grey-dk-000;

$link-color: $purple-000;
$btn-primary-color: $purple-100;
$base-button-color: #f7f7f7;

$code-background-color: $grey-dk-250;
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 3%);
