$body-background-color: $grey-dk-300;
$sidebar-color: #13161a;
$border-color: $grey-dk-200;

$body-text-color: #e9e9e9;
$body-heading-color: #c8d6e2;
$nav-child-link-color: #d6c4fd;
$search-result-preview-color: $grey-dk-000;

$link-color: $blue-000;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$code-background-color: #231624;
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 3%);

$code-comment-color: rgb(29, 167, 47);
$code-ident-color: #FF0000;